.main {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 1844px;
    max-height: 1600px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.85);
    box-shadow: inset 200px 50px 200px 0px rgb(0, 0, 0, 0.75);
    z-index: 1;
  }
}

.private {
  padding: 180px 0 0;
  margin-bottom: 115px;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 1844px;
    max-height: 1492px;
    background-image: url('../images/private-sale/private-sale-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__title,
  &__content,
  &__content-box,
  &__timer {
    position: relative;
  }

  &__title,
  &__content {
    z-index: 3;
  }

  &__title,
  &__box-text {
    text-transform: uppercase;
  }

  &__title {
    text-align: center;
    padding-left: 105px;
    margin-bottom: 83px;

    &::before {
      content: "";
      position: absolute;
      top: -16px;
      left: 50%;
      width: 100%;
      height: 100%;
      transform: translate(-257%, 0);
      width: 78px;
      height: 105px;
      background-image: url('../images/benefits/3.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__inner,
  &__content-box,
  &__timer {
    z-index: 1;
  }

  &__content {
    right: -4px;
    padding: 101px 0 80px 53px;
    background: rgba(0, 0, 0, 0.48);
    border: 3px solid #FF592C;
    box-shadow: 0px 4px 40px rgba(255, 61, 22, 0.3), 0px 4px 4px rgba(0, 0, 0, 0.59);
    border-radius: 25px;

    &::before {
      content: "";
      position: absolute;
      top: -121px;
      right: 0;
      width: 510px;
      height: 588px;
      background-image: url('../images/private-sale/soldier.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__content-box {
    display: flex;
    padding-left: 8px;
    margin-bottom: 40px;
  }

  &__content-image {
    width: 111px;
    height: 107px;
    margin-right: 28px;
  }

  &__box-text {
    &:first-child {
      padding-top: 10px;
      font-weight: 700;
      font-size: 38px;
      margin-bottom: 5px;
    }

    &:last-child {
      font-weight: 500;
      font-size: 20px;
    }

    &:first-child,
    &:last-child {
      background: linear-gradient(180deg, #D2D8DE 10%, #FEFFFF 30%, #C0C3C6 50%, #B6BBBF 70%, #ACB2B7 90%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  #clockdiv {
    display: inline-block;
    text-align: center;
    font-size: 58px;
  }

  #clockdiv>div {
    padding: 10px;
    display: inline-block;
  }

  #clockdiv div>span {
    display: inline-block;
    line-height: 72px;
    padding: 0 33px;
    border-radius: 5px;
    border: 2px solid #DBDBDB;
    background: #FF592C;
  }

  .days,
  .hours,
  .minutes,
  .seconds {
    font-family: $robotomono;
    font-weight: 400;
  }

  .smalltext {
    padding-top: 10px;
    font-size: 16px;
  }
}