@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.47) 25.63%, rgba(0, 0, 0, 0) 117.23%);
  backdrop-filter: blur(12px);
  z-index: 2;

  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 23px 0 21px;
  }
}

.menu {
  display: flex;
  align-items: center;

  &__list {
    display: flex;
  }

  &__item {
    &:last-child {
      margin-right: 84px;
    }
  }

  &__item+.menu__item {
    margin-left: 75px;
  }

  &__link {
    position: relative;
    padding: 5px;
    color: $default;

    &::after {
      content: "";
      position: absolute;
      bottom: -13px;
      left: 0;
      height: 3px;
      width: 100%;
      background: rgba(255, 255, 255, 0.61);
      border-radius: 16px;
      opacity: 0;
      transition: ease 0.3s;
    }

    &:hover {
      &::after {
        opacity: 1;
      }
    }
  }

  &__item-link {
    padding: 9px 20px;
    color: $default;
    border: 1px solid $default;
    border-radius: 5px;
    transition: ease .3s;

    &:hover {
      background: #935243;
    }
  }

  &__item-link+.menu__item-link {
    margin: 0 5px 0 23px;
  }
}

.socials {
  display: flex;
  align-items: center;

  &__text {
    margin-right: 31px;
  }

  &__item {
    max-height: 45px;
    transition: ease .3s;

    &:last-child {
      margin-right: 66px;
    }

    &:hover {
      transform: scale(1.2, 1.2);
    }
  }

  &__item+.socials__item {
    margin-left: 24px;
  }

  &__item--footer {
    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    font-size: 0;
    line-height: 0;
  }
}

.footer {
  position: relative;
  z-index: 1;
  bottom: 80px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 7px 0 5px;
  }
}

.top {
  background-image: url('../images/top/top-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__inner {
    padding-top: 350px;
    padding-bottom: 285px;
  }

  &__image {
    margin-bottom: 55px;
  }

  &__text {
    position: relative;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 600;
    padding-left: 58px;
    margin-bottom: 15px;
    color: rgba(255, 255, 255, 0.68);

    &:last-of-type {
      margin-bottom: 53px;
    }
  }

  &__aim {
    position: absolute;
    left: 5px;
    bottom: -7px;
  }
}

.benefits {
  position: relative;
  background-image: url('../images/benefits/benefits-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 -15px 100px 0 rgba(0, 0, 0, 0.75);
  padding-top: 13px;
  padding-bottom: 240px;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
    z-index: 2;
    box-shadow: inset 200px 50px 200px 0px rgb(0, 0, 0, 0.99);
  }

  &__inner {
    position: relative;
    z-index: 3;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 915px;
    margin: 0 auto 43px;
  }

  &__image {
    margin: 0 auto;
  }

  &__text {
    text-align: center;
    text-transform: uppercase;
    color: #FFA12A;
    font-weight: 600;
    font-size: 30px;
    margin-top: -11px;
  }
}

.video-popup {
  display: flex;
  justify-content: center;
  align-items: center;

  &__play {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1030px;
    width: 100%;
    height: 580px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: ease 0.5s;
    transform: scale(0.99, 0.99);

    &:hover .video-popup__youtube {
      transform: scale(1.1)
    }
  }

  &__youtube {
    transition: ease 0.5s;
  }

}

.info {
  position: relative;
  top: -120px;

  &::before {
    content: "";
    width: 1195px;
    height: 941px;
    position: absolute;
    top: -4px;
    background-image: url('../images/info/left.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 4;
  }

  &::after {
    content: "";
    width: 1020px;
    height: 880px;
    position: absolute;
    background-image: url('../images/info/right.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 3;
    top: 0;
    right: 0;
  }

  &__inner {
    position: relative;
    display: flex;
    z-index: 4;
  }

  &__content {
    padding-left: 5px;
    padding-top: 137px;
  }

  &__title {
    letter-spacing: -1px;
  }

  &__img-title {
    margin: -16px 0 36px;
  }

  &__text {
    max-width: 600px;
    margin-bottom: 27px;
  }

  &__image {
    position: relative;
    right: -175px;
    bottom: -105px;
  }
}

.top-slider {
  position: relative;
  top: -5px;
  background-image: url('../images/top-slider/top-slider-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 240px 0 190px;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
    z-index: 2;
    box-shadow: inset 200px 50px 200px rgb(0 0 0 / 99%), inset 0 70px 100px 0 rgb(0, 0, 0, 0.99);
  }


  &__title,
  &__text,
  &__inner {
    position: relative;
    z-index: 3;
  }

  &__title {
    text-transform: uppercase;
    text-align: center;
    margin: -105px 0 29px;
    z-index: 3;
  }

  &__text {
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 12px;
    z-index: 3;
  }

  &__item {
    position: relative;
    cursor: pointer;
  }

  &__image {
    margin: 0 auto;
  }

  &__item-text {
    position: absolute;
    font-size: 25px;
    font-weight: 600;
    bottom: 100px;
    left: 50%;
    transform: translatex(-50%);
  }

  .slick-prev {
    position: absolute;
    top: 50%;
    left: -80px;
    transform: translateY(-70%);
    width: 27px;
    height: 48px;
    z-index: 4;
    padding: 0;
    font-size: 0;
    border: none;
    background-color: transparent;
    background-image: url('../images/icon/arrow-left.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    outline: transparent;
  }

  .slick-next {
    position: absolute;
    top: 50%;
    right: -75px;
    transform: translateY(-70%);
    width: 27px;
    height: 48px;
    z-index: 4;
    padding: 0;
    font-size: 0;
    border: none;
    background-color: transparent;
    background-image: url('../images/icon/arrow-right.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    outline: transparent;
  }

  .slick-dots {
    position: absolute;
    display: flex;
    left: 50%;
    transform: translateX(-50%);

    li {
      padding: 0 16px;

      button {
        position: relative;
        padding: 0;
        font-size: 0;
        background-color: transparent;
        border: 11px solid #C4C4C4;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        cursor: pointer;
        outline: transparent;
        transition: ease .3s;

        &::before {
          position: absolute;
          content: "";
          width: 14.5px;
          height: 14.5px;
          border-radius: 50%;
          background-color: white;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        &:hover,
        &:focus {
          border-color: #ffc62a;
        }
      }

      &.slick-active {
        button {
          border-color: #ffc62a;
        }
      }
    }
  }
}

.slider-bottom {
  padding: 0 0 257px;
  position: relative;
  box-shadow: 0 -130px 90px rgb(0, 0, 0, 0.9);

  &:before {
    content: "";
    position: absolute;
    top: -267px;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../images/slider-bottom/bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
  }

  &__title {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 64px;
  }

  &__inner {
    position: relative;
    top: 63px;
    z-index: 2;

    &::before {
      content: "";
      position: absolute;
      top: -102px;
      left: 50%;
      transform: translateX(-50%);
      width: 1237px;
      height: 530px;
      background-image: url('../images/slider-bottom/bg-slide.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &__item {
    position: relative;
    text-align: center;
    cursor: pointer;
  }

  &__image {
    position: relative;
    left: -10px;
    margin: 0 auto;
  }

  &__content {
    bottom: -75px;
  }

  &__box {
    position: relative;
    max-width: 114px;
    height: 74px;
    top: 50%;
    left: 50%;
    transform: translate(-53%, 2%);
    background: rgba(196, 196, 196, 0.04);
    border: 3px solid #515050;
    box-shadow: 0px 4px 40px rgba(80, 31, 164, 0.13),
      0px 4px 4px rgba(0, 0, 0, 0.59);
    border-radius: 10px;
    transition: ease 0.3s;
    cursor: pointer;

    &:hover {
      transition: ease 0.3s;
      border-color: #6625D6;
    }
  }

  &__box-item {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 87px;
    height: 40px;
  }

  .slick-slide.is-active .slider-bottom__box {
    transition: ease 0.3s;
    border-color: #6625D6;
  }

  .slick-prev {
    position: absolute;
    top: 50%;
    left: -80px;
    transform: translateY(-80%);
    width: 27px;
    height: 48px;
    z-index: 4;
    padding: 0;
    font-size: 0;
    border: none;
    background-color: transparent;
    background-image: url('../images/icon/arrow-left.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    outline: transparent;

  }

  .slick-next {
    position: absolute;
    top: 50%;
    right: -75px;
    transform: translateY(-80%);
    width: 27px;
    height: 48px;
    z-index: 4;
    padding: 0;
    font-size: 0;
    border: none;
    background-color: transparent;
    background-image: url('../images/icon/arrow-right.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    outline: transparent;
  }
}

.features {
  position: relative;
  top: 40px;
  padding: 65px 0 140px;
  background-image: url('../images/features/features-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__title {
    text-transform: uppercase;
    text-align: center;
    margin: -35px 0 23px;
  }

  &__text {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 95px;
  }
}

.concept {
  position: relative;
  background-image: url('../images/concept/concept-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 195px 0 410px;
  z-index: 1;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
    box-shadow: inset 200px 50px 200px 0 rgb(0, 0, 0, 0.99);
  }

  &__title {
    position: relative;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 58px;
    z-index: 3;
  }

  &__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    z-index: 3;
  }

  &__content {
    &:nth-child(2) {
      right: 5px;
      position: relative;
    }
  }

  &__text {
    max-width: 575px;
    margin-bottom: 27px;

    &:first-child {
      padding-top: 12px;
    }

    &:nth-child(2) {
      margin-bottom: 50px;
    }
  }

  &__item {
    background: rgba(0, 0, 0, 0.29);
    border: 3px solid #515050;
    border-top: transparent;
    border-radius: 25px 25px 25px 25px;
    margin-bottom: 40px;
  }

  &__text-top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 172px 12px 173px;
    margin: 0 -3px 27px;
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    border-radius: 5.5px 5.5px 0 0;
    background: linear-gradient(180deg, #5B2B30 -90.77%, #6B3935 12.11%, #A25B48 97.02%);
  }

  &__meta {
    position: relative;
    top: 6px;
    right: 9px;
  }

  &__text-aim {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 120px;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 12px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.68);

    &:last-child {
      margin-bottom: 26px;
    }
  }

  &__aim {
    position: absolute;
    top: 2px;
    left: 71px;
  }
}

.token {
  position: relative;
  top: -120px;

  &::before {
    content: "";
    width: 1367px;
    height: 1080px;
    position: absolute;
    background-image: url('../images/token/left.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    left: -137px;
    top: -207px;
    z-index: 3;
  }

  &::after {
    content: "";
    width: 1246px;
    height: 1150px;
    position: absolute;
    background-image: url('../images/token/right.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
    top: -260px;
    right: 0;
  }

  &__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    z-index: 4;
  }

  &__title {
    position: relative;
    text-transform: uppercase;
    margin: -11px 0 28px;
    padding-left: 49px;
  }

  &__content {
    position: relative;
    top: -48px;
  }

  &__box-content {
    display: flex;
    margin-bottom: 46px;
    background: rgba(196, 196, 196, 0.1);
    border: 2px solid #515050;
    border-radius: 20px;
    max-width: 443px;
    margin-left: 4px;
  }

  &__text {
    position: relative;
    max-width: 465px;
    margin-bottom: 21px;
    padding-left: 50px;

    &::before {
      content: "";
      position: absolute;
      left: -1px;
      width: 40px;
      height: 38px;
      background-image: url('../images/icon/star.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__meta {
    padding: 23px 25px 16px 42px;
  }

  &__text-gradient {
    display: block;
    font-weight: 600;
    font-size: 24px;
    line-height: 35px;
    padding: 20px 0 0;
    margin-bottom: 0;
    background: linear-gradient(180deg, #FFA12A 0%, #FEEF6D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__image-box {
    position: relative;
    right: -95px;
    bottom: 5px;
  }
}

.development {
  position: relative;
  background-image: url('../images/development/development-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: -24px;
  z-index: 1;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
    z-index: 2;
    box-shadow: inset 200px 50px 200px 0px rgb(0, 0, 0, 0.99);
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -17%);
    width: 100%;
    height: 219px;
    background-image: url('../images/development/development.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 3;
  }

  &__title {
    position: relative;
    top: 40px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 56px;
    z-index: 3;
  }

  &__inner {
    position: relative;
    top: 40px;
    display: flex;
    flex-direction: column;
    z-index: 3;
  }

  &__content {
    display: flex;

    &:first-child {
      justify-content: space-evenly;
      margin-bottom: 60px;
    }

    &:nth-child(2) {
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 70px;
    }

    &:last-child {
      justify-content: space-between;
    }
  }

  &__box {
    max-width: 255px;
  }

  &__box--top {
    position: relative;

    &:first-child {
      left: 66px;
    }

    &:last-child {
      right: 22px;
      padding-top: 42px;
    }
  }

  &__box--middle {
    display: flex;
    width: 100%;
    max-width: 1170px;
    justify-content: space-between;

    &:first-child {
      margin-bottom: 83px;
    }

    &:nth-child(2) {
      justify-content: space-evenly;
      margin-bottom: 2px;
    }
  }

  &__box--bottom {
    position: relative;

    &:first-child {
      left: 50px;
    }

    &:nth-child(2) {
      max-width: 335px;
    }

    &:last-child {
      right: 2px;
    }
  }

  &__text {
    font-size: 16px;
    margin-bottom: 17px;
  }

  &__text-map {
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    background: linear-gradient(180deg, #D2D8DE 10%, #FEFFFF 30%, #C0C3C6 50%, #B6BBBF 70%, #ACB2B7 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__text-map--middle {
    &:first-child {
      left: 89px;
    }

    &:nth-child(2) {
      left: 40px;
    }

    &:last-child {
      right: 5px;
    }
  }
}

.team {
  position: relative;
  background-image: url('../images/team/team-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
  z-index: 1;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 30px 120px 5px rgb(0, 0, 0, 0.99);
    z-index: 2;
  }

  &__title,
  &__text,
  &__inner {
    top: 30px;
  }

  &__title {
    position: relative;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 35px;
    z-index: 3;
  }

  &__text {
    position: relative;
    text-align: center;
    max-width: 1040px;
    margin: 0 auto 58px;
    z-index: 3;
  }

  &__inner {
    position: relative;
    z-index: 3;
  }

  &__list {
    display: flex;
  }

  &__list:nth-child(2) {
    margin-bottom: 53px;
  }

  &__list:nth-child(2) .team__item {

    &:first-child,
    &:nth-child(2),
    &:last-child {
      flex-direction: row-reverse;
    }
  }

  &__item {
    display: flex;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
  }

  .link.link--team {
    min-width: 398px;
  }

  .logo {
    padding: 59px 57px;
  }
}

.partners {
  position: relative;
  background-image: url('../images/partners/partners-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 160px 0;
  z-index: 1;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.85);
    z-index: 2;
    box-shadow: inset 200px 50px 200px 0px rgb(0, 0, 0, 0.75);
  }

  &__title,
  &__text,
  &__inner {
    top: -75px;
  }

  &__title {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 70px;
  }

  &__title,
  &__inner {
    position: relative;
    z-index: 3;
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;

    &:first-child {
      margin-bottom: 33px;
    }
  }

  &__list:last-child {
    justify-content: center;
    align-items: center;
  }

  &__item {
    background: rgba(196, 196, 196, 0.42);
    border: 2px solid rgba(255, 255, 255, 0.58);
    border-radius: 12px;
    width: 270px;
    font-weight: 700;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
  }

  &__item+.partners__item {
    margin-left: 27px;
  }

  &__text {
    background: linear-gradient(180deg, #D2D8DE 10%, #FEFFFF 30%, #C0C3C6 50%, #B6BBBF 70%, #ACB2B7 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.team-page {
  position: relative;
  background-image: url('../images/partners/partners-bg.jpg');
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 180px 0 172px;
  z-index: 1;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
    z-index: 2;
    box-shadow: inset 200px 50px 200px 0px rgb(0, 0, 0, 0.75);
  }

  &__title {
    text-transform: uppercase;
    text-align: center;
    padding-left: 120px;
    margin-bottom: 90px;

    &::before {
      content: "";
      position: absolute;
      top: -15px;
      left: 50%;
      transform: translate(-140%, 0);
      width: 78px;
      height: 105px;
      background-image: url('../images/benefits/3.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__title,
  &__inner {
    position: relative;
    z-index: 3;
  }

  &__inner {
    &::after {
      content: "";
      position: absolute;
      right: -15px;
      bottom: 11px;
      width: 967px;
      height: 939px;
      background-image: url('../images/team-page/shot.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 5;
      pointer-events: none;
    }
  }

  &__list {
    position: relative;
    display: flex;
    justify-content: end;
    z-index: 4;
  }

  &__item {
    position: relative;
    display: flex;
  }

  &__item:hover .team-page__box {
    background: linear-gradient(180deg, #5B2B30 0%, #A25B48 88.44%), rgba(196, 196, 196, 0.18);
  }

  &__item:hover .team-page__name--left::after,
  &__item:hover .team-page__name--right::after {
    background-image: url('../images/icon/left-gradient.svg');
  }

  &__item:hover .team-page__name--right::after {
    transform: rotate(180deg) translate(0%, 50%);
  }

  &__item--rewerse {
    position: relative;
    flex-direction: row-reverse;
  }

  &__box {
    display: flex;
    justify-content: center;
    padding-left: 65px;
    width: 291px;
    flex-direction: column;
    background: rgba(196, 196, 196, 0.18);
  }

  &__box--top,
  &__item--top-right {
    border-radius: 0 15px 0 0;
  }

  &__box--bottom,
  &__item--bottom-right {
    border-radius: 0 0 15px 0;
  }

  &__image--top,
  &__item--top-left {
    border-radius: 15px 0 0 0;
  }

  &__image--bottom,
  &__item--bottom-left {
    border-radius: 0 0 0 15px;
  }

  &__name {
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 500;
    color: $default;
  }

  &__name--left {
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-100%, -50%);
      width: 14px;
      height: 28px;
      background-image: url('../images/icon/left.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__name--right {
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(0%, -50%);
      width: 14px;
      height: 28px;
      background-image: url('../images/icon/right.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__accent {
    position: relative;
    top: 4px;
    left: 2px;
  }

  &__position {
    max-width: 183px;
    color: rgba(255, 255, 255, 0.41);
  }
}

.private {
  padding: 180px 0;

  &__title {
    position: relative;
    text-transform: uppercase;
    text-align: center;
    padding-left: 120px;
    margin-bottom: 83px;

    &::before {
      content: "";
      position: absolute;
      top: -16px;
      left: 50%;
      transform: translate(-245%, 0);
      width: 78px;
      height: 105px;
      background-image: url('../images/benefits/3.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__content {
    padding: 101px 0 80px 66px;
    background: rgba(0, 0, 0, 0.48);
    border: 3px solid #FF592C;
    box-shadow: 0px 4px 40px rgba(255, 61, 22, 0.3), 0px 4px 4px rgba(0, 0, 0, 0.59);
    border-radius: 25px;

    &::before {
      content: "";
      position: absolute;
      top: 49%;
      left: 50%;
      transform: translate(5%, -2%);
      width: 590px;
      height: 588px;
      background-image: url('../images/private-sale/soldier.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__content-box {
    display: flex;
    padding-left: 8px;
    margin-bottom: 40px;
  }

  &__content-image {
    width: 111px;
    height: 107px;
    margin-right: 28px;
  }

  &__box-text {
    text-transform: uppercase;

    &:first-child {
      padding-top: 10px;
      font-weight: 700;
      font-size: 38px;
      margin-bottom: 5px;
    }

    &:last-child {
      font-weight: 500;
      font-size: 20px;
    }

    &:first-child,
    &:last-child {
      background: linear-gradient(180deg, #D2D8DE 10%, #FEFFFF 30%, #C0C3C6 50%, #B6BBBF 70%, #ACB2B7 90%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__timer {
    position: relative;
    z-index: 1;
  }

  #clockdiv {
    display: inline-block;
    text-align: center;
    font-size: 58px;
  }

  #clockdiv>div {
    padding: 10px;
    display: inline-block;
  }

  #clockdiv div>span {
    display: inline-block;
    line-height: 72px;
    padding: 0 33px;
    border-radius: 5px;
    border: 2px solid #DBDBDB;
    background: #FF592C;
  }

  .days,
  .hours,
  .minutes,
  .seconds {
    font-family: $robotomono;
    font-weight: 400;
  }

  .smalltext {
    padding-top: 10px;
    font-size: 16px;
  }
}



@import 'media';