@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.47) 25.63%, rgba(0, 0, 0, 0) 117.23%);
  backdrop-filter: blur(12px);
  z-index: 2;

  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 20px 13px 21px 0;
  }
}

.logo {
  position: relative;
  left: -7px;
}

.menu {
  display: flex;
  align-items: center;

  &__list {
    display: flex;
  }

  &__item {
    transition: ease 0.2s;
    &:last-child {
      margin-right: 84px;
    }

    &:active {
      transform: scale(0.95);
    }
  }

  &__item+.menu__item {
    margin-left: 75px;
  }

  &__link {
    position: relative;
    padding: 5px;
    color: $default;

    &::after {
      content: "";
      position: absolute;
      bottom: -13px;
      left: 0;
      height: 3px;
      width: 100%;
      background: rgba(255, 255, 255, 0.61);
      border-radius: 16px;
      opacity: 0;
      transition: ease 0.3s;
    }

    &:hover {
      &::after {
        opacity: 1;
      }
    }

    &:active {
      transform: scale(0.9, 0.9);
    }
  }

  &__item-link {
    padding: 9px 20px;
    color: $default;
    border: 1px solid $default;
    border-radius: 5px;
    transition: ease .3s;

    &:hover {
      background: #935243;
      border: 1px solid transparent;
      border-radius: 5px;
    }

    &:active {
      transform: scale(0.95);
    }
  }

  &__item-link+.menu__item-link {
    margin: 0 5px 0 23px;
  }
}

.socials {
  display: flex;
  align-items: center;

  &__text {
    margin-right: 31px;
  }

  &__item {
    max-height: 45px;
    transition: ease .3s;

    &:last-child {
      margin-right: 66px;
    }

    &:hover {
      transform: scale(1.2, 1.2);
    }

    &:active {
      transform: scale(0.9, 0.9);
    }
  }

  &__item+.socials__item {
    margin-left: 24px;
  }

  &__item--footer {
    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    font-size: 0;
    line-height: 0;
  }
}

.footer {
  position: relative;
  z-index: 1;
  bottom: 80px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
  }
}

.top {
  background-image: url('../images/top/top-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__inner {
    padding: 347px 0 284px;
  }

  &__image {
    margin-bottom: 55px;
  }

  &__text {
    position: relative;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 600;
    padding-left: 54px;
    margin-bottom: 15px;
    color: rgba(255, 255, 255, 0.68);

    &:last-of-type {
      margin-bottom: 54px;
    }
  }

  &__aim {
    position: absolute;
    left: 0;
    bottom: -7px;
  }
}

.benefits {
  position: relative;
  background-image: url('../images/benefits/benefits-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 -15px 100px 0 rgba(0, 0, 0, 0.75);
  padding-top: 13px;
  padding-bottom: 240px;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
    z-index: 1;
    box-shadow: inset 200px 50px 200px 0px rgb(0, 0, 0, 0.99);
  }

  &__inner {
    position: relative;
    z-index: 2;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    margin: 0 auto 43px;
  }

  &__item {
    margin-left: -15px;
  }

  &__image {
    margin: 0 auto;
  }

  &__text {
    text-align: center;
    text-transform: uppercase;
    color: #FFA12A;
    font-weight: 600;
    font-size: 30px;
    margin-top: -11px;
  }
}

.video-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -20px;

  &__play {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1030px;
    width: 100%;
    height: 580px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: ease 0.5s;
    transform: scale(0.99, 0.99);

    &:hover .video-popup__youtube {
      transform: scale(1.1);
    }

    &:active .video-popup__youtube {
      transform: scale(0.9);
    }
  }

  &__youtube {
    transition: ease 0.5s;
  }
}

.info {
  position: relative;
  top: -120px;

  &::before,
  &::after {
    content: "";
    width: 1195px;
    height: 941px;
    position: absolute;
    top: -4px;
    background-image: url('../images/info/left.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 4;
  }

  &::after {
    content: "";
    width: 1020px;
    height: 880px;
    background-image: url('../images/info/right.png');
    z-index: 3;
    top: 0;
    right: 0;
  }

  &__inner,
  &__image {
    position: relative;
  }

  &__inner {
    display: flex;
    z-index: 4;
  }

  &__content {
    padding: 137px 0 0 5px;
    margin-left: -6px;
  }

  &__title {
    letter-spacing: -1px;
  }

  &__img-title {
    margin: -16px 0 36px;
  }

  &__text {
    max-width: 600px;
    margin-bottom: 27px;
  }

  &__image {
    right: -165px;
    bottom: -102px;
  }
}

.top-slider {
  position: relative;
  top: -5px;
  background-image: url('../images/top-slider/top-slider-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 240px 0 190px;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
    z-index: 2;
    box-shadow: inset 200px 50px 200px rgb(0 0 0 / 99%), inset 0 70px 100px 0 rgb(0, 0, 0, 0.99);
  }

  &__title,
  &__text,
  &__inner,
  &__item {
    position: relative;
  }

  &__title,
  &__text,
  &__inner {
    z-index: 3;
  }

  &__title {
    text-transform: uppercase;
    margin: -107px 16px 27px 0px;
  }

  &__title,
  &__text {
    text-align: center;
  }

  &__text,
  &__image {
    margin: 0 auto;
  }

  &__text {
    max-width: 1100px;
    margin-bottom: 14px;
  }

  &__inner {
    left: -9px;
  }

  &__item,
  .slick-prev,
  .slick-next,
  .slick-dots li button {
    cursor: pointer;
  }

  &__item-text {
    position: absolute;
    font-size: 25px;
    font-weight: 600;
    bottom: 100px;
    left: 50%;
    transform: translatex(-50%);
  }

  .slick-prev,
  .slick-next,
  .slick-dots {
    position: absolute;
    padding: 0;
    font-size: 0;
    background-color: transparent;
    outline: transparent;
  }

  .slick-prev,
  .slick-next {
    top: 50%;
    transform: translateY(-70%);
    width: 27px;
    height: 48px;
    z-index: 4;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .slick-prev {
    left: -80px;
    background-image: url('../images/icon/arrow-left.svg');
  }

  .slick-next {
    right: -75px;
    background-image: url('../images/icon/arrow-right.svg');
  }

  .slick-dots {
    display: flex;
    left: 50%;
    transform: translateX(-50%);

    li {
      padding: 0 16px;

      button {
        position: relative;
        border: 11px solid #C4C4C4;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        transition: ease .3s;

        &::before {
          position: absolute;
          content: "";
          width: 14.5px;
          height: 14.5px;
          border-radius: 50%;
          background-color: white;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        &:hover,
        &:focus {
          border-color: #ffc62a;
        }
      }

      &.slick-active {
        button {
          border-color: #ffc62a;
        }
      }
    }
  }
}

.slider-bottom {
  position: relative;
  padding: 0 0 257px;
  box-shadow: 0 -130px 90px rgb(0, 0, 0, 0.9);

  &:before {
    content: "";
    position: absolute;
    top: -267px;
    left: 0;
    right: 20px;
    bottom: 0;
    background-image: url('../images/slider-bottom/bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
  }

  &__title,
  &__item {
    text-align: center;
  }

  &__title {
    text-transform: uppercase;
    margin: 0 16px 64px 0;
    margin-bottom: 64px;
  }

  &__inner,
  &__item,
  &__image,
  &__box {
    position: relative;
  }

  &__inner {
    top: 63px;
    left: -9px;
    z-index: 2;

    &::before {
      content: "";
      position: absolute;
      top: -102px;
      left: 50%;
      transform: translateX(-50%);
      width: 1237px;
      height: 530px;
      background-image: url('../images/slider-bottom/bg-slide.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &__item,
  &__box,
  .slick-prev,
  .slick-next {
    cursor: pointer;
  }

  &__image {
    left: -10px;
    margin: 0 auto;
  }

  &__content {
    bottom: -75px;
  }

  &__box {
    max-width: 114px;
    height: 74px;
    top: 50%;
    left: 50%;
    transform: translate(-53%, 2%);
    background: rgba(196, 196, 196, 0.04);
    border: 3px solid #515050;
    box-shadow: 0px 4px 40px rgba(80, 31, 164, 0.13), 0px 4px 4px rgba(0, 0, 0, 0.59);
    border-radius: 10px;
    transition: ease 0.3s;

    &:hover {
      transition: ease 0.3s;
      border-color: #6625D6;
    }
  }

  &__box-item,
  .slick-prev,
  .slick-next {
    position: absolute;
  }

  &__box-item {
    bottom: 10px;
    left: 10px;
    width: 87px;
    height: 40px;
  }

  .slick-slide.is-active .slider-bottom__box {
    transition: ease 0.3s;
    border-color: #6625D6;
  }

  .slick-prev,
  .slick-next {
    top: 50%;
    transform: translateY(-80%);
    width: 27px;
    height: 48px;
    z-index: 4;
    padding: 0;
    font-size: 0;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    outline: transparent;
  }

  .slick-prev {
    left: -80px;
    background-image: url('../images/icon/arrow-left.svg');
  }

  .slick-next {
    right: -75px;
    background-image: url('../images/icon/arrow-right.svg');
  }
}

.features {
  position: relative;
  top: 40px;
  padding: 65px 0 140px;
  background-image: url('../images/features/features-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__title,
  &__text {
    text-align: center;
  }
  
  &__title {
    text-transform: uppercase;
    margin: -35px 16px 21px 0;
  }

  &__text {
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 93px;
  }
}

.concept {
  position: relative;
  background-image: url('../images/concept/concept-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 197px 0 410px;
  z-index: 1;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
    box-shadow: inset 200px 50px 200px 0 rgb(0, 0, 0, 0.99);
  }

  &__title,
  &__inner,
  &__content:nth-child(2),
  &__meta,
  &__text-aim {
    position: relative;
  }

  &__title,
  &__inner {
    z-index: 3;
  }

  &__title,
  &__text-aim {
    text-transform: uppercase;
  }

  &__title {
    text-align: center;
    margin: 0 19px 60px 0;
  }

  &__inner,
  &__text-top,
  &__text-aim {
    display: flex;
  }

  &__inner {
    justify-content: space-between;
  }

  &__content {
    &:nth-child(2) {
      top: 2px;
      right: 20px;
    }
  }

  &__text {
    max-width: 575px;
    margin-bottom: 29px;

    &:first-child {
      padding-top: 12px;
    }

    &:nth-child(2) {
      margin-bottom: 50px;
    }
  }

  &__item {
    background: rgba(0, 0, 0, 0.29);
    border: 3px solid #515050;
    border-top: transparent;
    border-radius: 25px 25px 25px 25px;
    margin-bottom: 40px;
  }

  &__text-top,
  &__text-aim {
    align-items: center;
  }

  &__text-top {
    justify-content: center;
    padding: 8px 172px 12px 173px;
    margin: 0 -3px 27px;
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    border-radius: 5.5px 5.5px 0 0;
    background: linear-gradient(180deg, #5B2B30 -90.77%, #6B3935 12.11%, #A25B48 97.02%);
  }

  &__meta {
    top: 6px;
    right: 9px;
  }

  &__text-aim {
    justify-content: start;
    padding-left: 120px;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 12px;
    color: rgba(255, 255, 255, 0.68);

    &:last-child {
      margin-bottom: 26px;
    }
  }

  &__aim {
    position: absolute;
    top: 2px;
    left: 71px;
  }
}

.token {
  position: relative;
  top: -120px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  &::before {
    width: 1367px;
    height: 1080px;
    background-image: url('../images/token/left.png');
    left: -137px;
    top: -207px;
    z-index: 1;
  }

  &::after {
    width: 1246px;
    height: 1150px;
    background-image: url('../images/token/right.png');
    top: -260px;
    right: 0;
  }

  &__inner,
  &__title,
  &__content,
  &__text,
  &__image-box {
    position: relative;
  }

  &__inner,
  &__box-content {
    display: flex;
  }

  &__inner {
    right: 4px;
    justify-content: space-between;
    z-index: 4;
  }

  &__title {
    text-transform: uppercase;
    margin: -11px 0 28px;
    padding-left: 49px;
  }

  &__content {
    top: -48px;
  }

  &__box-content {
    margin-bottom: 46px;
    background: rgba(196, 196, 196, 0.1);
    border: 2px solid #515050;
    border-radius: 20px;
    max-width: 443px;
    margin-left: 4px;
  }

  &__text {
    max-width: 465px;
    margin-bottom: 21px;
    padding-left: 50px;

    &::before {
      content: "";
      position: absolute;
      left: -1px;
      width: 40px;
      height: 38px;
      background-image: url('../images/icon/star.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__meta {
    padding: 23px 25px 16px 42px;
  }

  &__text-gradient {
    display: block;
    font-weight: 600;
    font-size: 24px;
    line-height: 35px;
    padding: 20px 0 0;
    margin-bottom: 0;
    background: linear-gradient(180deg, #FFA12A 0%, #FEEF6D 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__image-box {
    right: -87px;
    bottom: 5px;
  }
}

.development {
  position: relative;
  background-image: url('../images/development/development-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: -24px;
  z-index: 1;

  &::before,
  &::after {
    content: "";
    position: absolute;
  }

  &:after {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
    z-index: 2;
    box-shadow: inset 200px 50px 200px 0px rgb(0, 0, 0, 0.99);
  }

  &::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -17%);
    width: 100%;
    height: 219px;
    background-image: url('../images/development/development.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 3;
  }

  &__title,
  &__inner,
  &__box--top,
  &__box--bottom,
  &__text-map {
    position: relative;
  }

  &__title,
  &__inner {
    top: 40px;
    z-index: 3;
  }

  &__title,
  &__text-map {
    text-transform: uppercase;
  }

  &__title {
    text-align: center;
    margin: 0 19px 58px 0;
  }

  &__inner,
  &__content,
  &__box--middle {
    display: flex;
  }

  &__inner,
  &__content:nth-child(2) {
    flex-direction: column;
  }

  &__content:first-child,
  &__box--middle {
    justify-content: space-evenly;
  }

  &__content:nth-child(2),
  &__content:last-child,
  &__box--middle {
    justify-content: space-between;
  }

  &__content {

    &:first-child {
      margin-bottom: 60px;
    }

    &:nth-child(2) {
      margin-bottom: 70px;
    }
  }

  &__box {
    max-width: 255px;
  }

  &__box--top {
    &:first-child {
      left: 60px;
    }

    &:last-child {
      right: 31px;
      padding-top: 43px;
    }
  }

  &__box--middle {
    width: 100%;
    max-width: 1170px;

    &:first-child {
      margin-bottom: 83px;
    }

    &:nth-child(2) {
      margin-bottom: 2px;
    }
  }

  &__box--bottom {
    &:first-child {
      left: 46px;
    }

    &:nth-child(2) {
      right: 6px;
      max-width: 335px;
    }

    &:last-child {
      right: 16px;
    }
  }

  &__text {
    font-size: 16px;
    margin-bottom: 17px;
  }

  &__text-map {
    font-weight: 700;
    font-size: 20px;
    background: linear-gradient(180deg, #D2D8DE 10%, #FEFFFF 30%, #C0C3C6 50%, #B6BBBF 70%, #ACB2B7 90%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__text-map--middle {
    &:first-child {
      left: 89px;
    }

    &:nth-child(2) {
      left: 40px;
    }

    &:last-child {
      right: 5px;
    }
  }
}

.team {
  position: relative;
  background-image: url('../images/team/team-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
  z-index: 1;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 30px 120px 5px rgb(0, 0, 0, 0.99);
    z-index: 2;
  }

  &__title,
  &__text,
  &__inner {
    position: relative;
    top: 30px;
    z-index: 3;
  }

  &__title,
  &__text {
    text-align: center;
  }

  &__title {
    text-transform: uppercase;
    margin: 0 19px 37px 0;
  }

  &__text {
    max-width: 1040px;
    margin: 0 auto 57px;
  }

  &__list,
  &__link,
  &__wrapper {
    display: flex;
  }

  &__list:nth-child(2) {
    margin-bottom: 53px;
  }

  &__list:nth-child(2) .team__link {

    &:first-child,
    &:nth-child(2),
    &:last-child {
      flex-direction: row-reverse;
    }
  }

  &__wrapper {
    justify-content: center;
    align-items: center;
    margin-right: 20px;
  }

  .link.link--team {
    min-width: 398px;

    &::after {
      width: 101.3%;
    }
  }

  &__item {
    padding: 56px 58px;
  }
}

.partners {
  position: relative;
  background-image: url('../images/partners/partners-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 157px 0 163px;
  z-index: 1;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.85);
    z-index: 2;
    box-shadow: inset 200px 50px 200px 0px rgb(0, 0, 0, 0.75);
  }

  &__title,
  &__text,
  &__inner {
    top: -75px;
  }

  &__title,
  &__inner {
    position: relative;
    z-index: 3;
  }

  &__title {
    text-transform: uppercase;
    text-align: center;
    margin: 0 20px 70px 0;
  }

  &__inner {
    right: 10px;
  }

  &__list,
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__list {
    &:first-child {
      margin-bottom: 33px;
    }

    &:last-child {
      justify-content: center;
      align-items: center;
    }
  }

  &__item {
    background: rgba(196, 196, 196, 0.42);
    border: 2px solid rgba(255, 255, 255, 0.58);
    border-radius: 12px;
    width: 270px;
    font-weight: 700;
    font-size: 24px;
    padding: 30px 0;
    transition: ease 0.3s;

    &:hover {
      transform: scale(0.95);
    }

    &:active {
      transform: scale(0.9);
    }
  }

  &__link+.partners__link {
    margin-left: 27px;
  }

  &__text {
    background: linear-gradient(180deg, #D2D8DE 10%, #FEFFFF 30%, #C0C3C6 50%, #B6BBBF 70%, #ACB2B7 90%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.team-page {
  position: relative;
  background-image: url('../images/partners/partners-bg.jpg');
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 180px 0 172px;
  z-index: 1;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
    z-index: 2;
    box-shadow: inset 200px 50px 200px 0px rgb(0, 0, 0, 0.75);
  }

  &__title,
  &__inner,
  &__list,
  &__item {
    position: relative;
  }

  &__title,
  &__inner {
    z-index: 3;
  }

  &__title {
    text-transform: uppercase;
    text-align: center;
    padding-left: 105px;
    margin-bottom: 90px;

    &::before {
      content: "";
      position: absolute;
      top: -15px;
      left: 50%;
      transform: translate(-140%, 0);
      width: 78px;
      height: 105px;
      background-image: url('../images/benefits/3.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__inner {
    &::after {
      content: "";
      position: absolute;
      right: -9px;
      bottom: 11px;
      width: 967px;
      height: 939px;
      background-image: url('../images/team-page/shot.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 4;
      pointer-events: none;
    }
  }

  &__list,
  &__item,
  &__box {
    display: flex;
  }

  &__item:hover .team-page__name--left::after,
  &__item:hover .team-page__name--right::after {
    transition: opacity .3s;
    background-image: url('../images/icon/left-gradient.svg');
  }

  &__item:hover .team-page__box::after {
    opacity: 1;
  }

  &__item:hover .team-page__name--right::after {
    transform: rotate(180deg) translate(0%, 50%);
  }

  &__item--rewerse {
    flex-direction: row-reverse;
  }

  &__image,
  &__name,
  &__position,
  &__accent,
  &__name--left::after,
  &__name--right::after {
    z-index: 1;
  }

  &__box {
    justify-content: center;
    padding-left: 65px;
    width: 294px;
    flex-direction: column;
    background: rgba(196, 196, 196, 0.18);

    &::after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-color: #FFF61B;
      background: linear-gradient(180deg, #5B2B30 0%, #A25B48 88.44%), rgba(196, 196, 196, 0.18);
      opacity: 0;
      transition: opacity 0.5s;
    }
  }

  &__box--top,
  &__item--top-right {
    border-radius: 0 15px 0 0;
  }

  &__box--bottom,
  &__item--bottom-right {
    border-radius: 0 0 15px 0;
  }

  &__image--top,
  &__item--top-left {
    border-radius: 15px 0 0 0;
  }

  &__image--bottom,
  &__item--bottom-left {
    border-radius: 0 0 0 15px;
  }

  &__name {
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 500;
    color: $default;
  }

  &__name--left,
  &__name--right {
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-100%, -50%);
      width: 14px;
      height: 28px;
      background-image: url('../images/icon/left.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.95;
      z-index: 1;
    }
  }

  &__name--right {
    &::after {
      transform: translate(0%, -50%);
      background-image: url('../images/icon/right.svg');
    }
  }

  &__accent {
    top: 4px;
    left: 2px;
  }

  &__position {
    max-width: 183px;
    color: rgba(255, 255, 255, 0.41);
  }
}

.private {
  padding: 180px 0 0;
  margin-bottom: 115px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 1844px;
  }

  &::before {
    height: 1492px;
    background-image: url('../images/private-sale/private-sale-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
  }

  &:after {
    height: 1600px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.85);
    z-index: 1;
    box-shadow: inset 200px 50px 200px 0px rgb(0, 0, 0, 0.75);
  }

  &__title,
  &__content,
  &__timer {
    position: relative;
  }

  &__title,
  &__content {
    z-index: 3;
  }

  &__title,
  &__box-text {
    text-transform: uppercase;
  }

  &__title {
    text-align: center;
    padding-left: 105px;
    margin-bottom: 83px;

    &::before {
      content: "";
      position: absolute;
      top: -16px;
      left: 50%;
      transform: translate(-257%, 0);
      width: 78px;
      height: 105px;
      background-image: url('../images/benefits/3.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__inner,
  &__timer {
    z-index: 1;
  }

  &__content {
    right: -4px;
    padding: 101px 0 80px 53px;
    background: rgba(0, 0, 0, 0.48);
    border: 3px solid #FF592C;
    box-shadow: 0px 4px 40px rgba(255, 61, 22, 0.3), 0px 4px 4px rgba(0, 0, 0, 0.59);
    border-radius: 25px;

    &::before {
      content: "";
      position: absolute;
      top: -121px;
      right: -40px;
      width: 590px;
      height: 588px;
      background-image: url('../images/private-sale/soldier.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__content-box {
    display: flex;
    padding-left: 8px;
    margin-bottom: 40px;
  }

  &__content-image {
    width: 111px;
    height: 107px;
    margin-right: 28px;
  }

  &__box-text {
    &:first-child {
      padding-top: 10px;
      font-weight: 700;
      font-size: 38px;
      margin-bottom: 5px;
    }

    &:last-child {
      font-weight: 500;
      font-size: 20px;
    }

    &:first-child,
    &:last-child {
      background: linear-gradient(180deg, #D2D8DE 10%, #FEFFFF 30%, #C0C3C6 50%, #B6BBBF 70%, #ACB2B7 90%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  #clockdiv {
    display: inline-block;
    text-align: center;
    font-size: 58px;
  }

  #clockdiv>div {
    padding: 10px;
    display: inline-block;
  }

  #clockdiv div>span {
    display: inline-block;
    line-height: 72px;
    padding: 0 33px;
    border-radius: 5px;
    border: 2px solid #DBDBDB;
    background: #FF592C;
  }

  .days,
  .hours,
  .minutes,
  .seconds {
    font-family: $robotomono;
    font-weight: 400;
  }

  .smalltext {
    padding-top: 10px;
    font-size: 16px;
  }
}

.price {
  padding: 0 0 167px;

  &::before {
    content: "";
    position: absolute;
    top: 283px;
    width: 662px;
    height: 1061px;
    background-image: url('../images/private-sale/smoke.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
  }

  &__inner,
  &__text,
  &__box {
    position: relative;
  }

  &__list,
  &__box,
  &__maps {
    display: flex;
  }

  &__inner {
    z-index: 1;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: -211px;
      width: 452px;
      height: 457px;
      background-image: url('../images/private-sale/m.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 1;
    }
  }

  &__list {
    margin: 0 5px;
  }

  &__item {
    height: fit-content;
    padding: 70px 52px 0 42px;
    border: 3px solid rgba(255, 255, 255, 0.9);
    background: rgba(196, 196, 196, 0.04);
    box-shadow: 0px 4px 40px rgba(255, 255, 63, 0.13),
      0px 4px 4px rgba(0, 0, 0, 0.59);
    backdrop-filter: blur(15px);
    border-radius: 25px;
  }

  &__item+.price__item {
    margin-left: 30px;
  }

  &__item:nth-child(2) {
    border: 3px solid #6625D6;
    backdrop-filter: blur(29px);
  }

  &__item:last-child {
    border: 3px solid #FFFF3F;
  }

  &__image-top,
  &__text-right,
  &__accent {
    position: absolute;
  }

  &__image-top {
    top: -37px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__image--middle {
    top: -42px;
  }

  &__title,
  &__subtitle,
  &__text-fradient {
    text-align: center;
  }

  &__title,
  &__text-fradient {
    text-transform: uppercase;
  }

  &__title {
    font-size: 32px;
    margin: -3px 0 0 8px;
  }

  &__subtitle,
  &__text-fradient {
    display: block;
  }

  &__subtitle {
    font-size: 16px;
    margin: 0 0 42px 8px;
  }

  &__text {
    font-size: 16px;
    margin-right: 40px;
    margin-bottom: 41px;
  }

  &__text--line {
    margin-bottom: 22px;

    &::after {
      content: "";
      position: absolute;
      bottom: -14px;
      left: 0;
      width: 293px;
      height: 1px;
      background-image: url('../images/private-sale/line.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__text-right {
    right: 0;
  }

  &__text-right--last {
    right: 5px;
  }

  &__accent {
    top: 1px;
    right: -25px;
  }

  &__text-fradient,
  &__title-description {
    margin-bottom: 14px;
  }

  &__text-fradient {
    font-weight: 700;
    background: linear-gradient(180deg, #FFA12A 0%, #FEEF6D 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__text--middle {
    margin-right: 21px;
  }

  &__weapon {
    margin: 0 auto;
  }

  &__title-description,
  &__text-description {
    font-size: 14px;
  }

  &__title-description {
    font-weight: 500;

    &:nth-child(2) {
      margin-top: -8px;
    }
  }
  
  &__text-description {
    margin-bottom: 24px;
    color: rgb(255, 255, 255, 39%);
  }

  &__text-description--last {
    margin-bottom: 13px;
  }

  &__box {
    top: 10px;
    margin-top: -16px;
  }

  &__image {
    &:first-child {
      width: 50%;
    }

    &:last-child {
      position: absolute;
      top: -20px;
      right: -13px;
    }
  }

  &__maps {
    margin-bottom: 20px;
  }

  &__maps-image+.price__maps-image {
    margin-left: 6px;
  }

  &__input,
  &__button {
    width: 270px;
  }
}

.whitelist {
  margin-bottom: 130px;

  &__title,
  &__text {
    text-align: center;
  }

  &__title {
    text-transform: uppercase;
    font-size: 32px;
    margin: -3px 0 0 8px;
    margin-bottom: 85px;
  }

  &__text {
    max-width: 630px;
    margin: 0 auto;
    font-weight: 500;
    margin-bottom: 45px;
  }
  
  &__text-accent {
    color: #ff7300;
  }

  &__input {
    display: block;
    margin: 0 auto 33px;
    width: 100%;
    max-width: 750px;
    padding: 23px 40px;
    border: 3px solid #FFFF3F;
    box-shadow: 0px 4px 40px rgba(255, 255, 63, 0.13), 0px 4px 4px rgba(0, 0, 0, 0.59);
    border-radius: 15px;

    &::placeholder {
      font-weight: 500;
    }
  }

  &__button {
    margin: 0 auto;
    max-width: 386px;
    width: 100%;
    padding: 19px 0 15px;
  }
}



@import 'media';