@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.47) 25.63%, rgba(0, 0, 0, 0) 117.23%);
  backdrop-filter: blur(12px);

  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
  }
}

.menu {
  display: flex;
  align-items: center;

  &__list {
    display: flex;
  }

  &__item {
    &:last-child {
      margin-right: 84px;
    }
  }

  &__item+.menu__item {
    margin-left: 75px;
  }

  &__link {
    position: relative;
    padding: 5px;
    color: $default;

    &::after {
      content: "";
      position: absolute;
      bottom: -13px;
      left: 0;
      height: 3px;
      width: 100%;
      background: rgba(255, 255, 255, 0.61);
      border-radius: 16px;
      opacity: 0;
      transition: ease .3s;
    }

    &:hover {
      &::after {
        opacity: 1;
      }
    }
  }

  &__item-link {
    padding: 9px 20px;
    color: $default;
    border: 1px solid $default;
    border-radius: 5px;
    transition: ease .3s;

    &:hover {
      background: #935243;
    }
  }

  &__item-link+.menu__item-link {
    margin: 0 5px 0 23px;
  }
}

.socials {
  display: flex;
  align-items: center;

  &__text {
    margin-right: 31px;
  }

  &__item {
    max-height: 45px;
    transition: ease .3s;

    &:last-child {
      margin-right: 66px;
    }

    &:hover {
      transform: scale(1.2, 1.2);
    }
  }

  &__item+.socials__item {
    margin-left: 24px;
  }

  &__item--footer {
    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    font-size: 0;
    line-height: 0;
  }
}

.footer {
  padding-top: 200px;
  padding-bottom: 90px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.top {
  background-image: url('../images/top/top-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // height: 100vh;

  &__inner {
    padding-top: 347px;
    padding-bottom: 285px;
  }

  &__image {
    margin-bottom: 55px;
  }

  &__text {
    position: relative;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 600;
    padding-left: 58px;
    margin-bottom: 15px;
    color: rgba(255, 255, 255, 0.68);

    &:last-of-type {
      margin-bottom: 53px;
    }
  }

  &__aim {
    position: absolute;
    left: 5px;
    bottom: -7px;
  }
}

.benefits {
  position: relative;
  background-image: url('../images/benefits/benefits-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px -15px 100px 0px rgba(0, 0, 0, 0.75);
  padding-top: 13px;
  padding-bottom: 240px;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .9);
    z-index: 2;
    box-shadow: inset 50px 60px 110px 40px rgb(0 0 0 / 99%);
  }

  &__inner {
    position: relative;
    z-index: 3;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 915px;
    margin: 0 auto 40px;
  }

  &__image {
    margin: 0 auto;
  }

  &__text {
    text-align: center;
    text-transform: uppercase;
    color: #FFA12A;
    font-weight: 600;
    font-size: 30px;
    margin-top: -11px;
  }
}

.video-popup {
  display: flex;
  justify-content: center;
  align-items: center;

  &__play {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1030px;
    width: 100%;
    height: 580px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: ease 0.5s;
    transform: scale(0.99, 0.99);

    &:hover .video-popup__youtube {
      transform: scale(1.1)
    }
  }

  &__youtube {
    transition: ease 0.5s;
  }

}

.info {
  position: relative;
  top: -120px;
  padding-top: 140px;

  &::before {
    content: "";
    width: 1195px;
    height: 941px;
    position: absolute;
    top: -4px;
    background-image: url('../images/info/left.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 4;
  }

  &::after {
    content: "";
    width: 1020px;
    height: 880px;
    position: absolute;
    background-image: url('../images/info/right.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 3;
    top: 0;
    right: 0;
  }

  &__inner {
    position: relative;
    display: flex;
    z-index: 4;
  }

  &__content {
    padding-left: 5px
  }

  &__title {
    letter-spacing: -1px;
  }

  &__img-title {
    margin: -16px 0 36px;
  }

  &__text {
    max-width: 600px;
    margin-bottom: 27px;
  }
}

.top-slider {
  position: relative;
  top: -5px;
  background-image: url('../images/top-slider/top-slider-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px -15px 100px 0px rgba(0, 0, 0, 0.75);
  padding: 240px 0 160px;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .9);
    z-index: 2;
    box-shadow: inset 50px 60px 110px 40px rgb(0 0 0 / 99%);
  }

  &__title,
  &__text,
  &__inner {
    position: relative;
    z-index: 3;
  }

  &__title {
    text-transform: uppercase;
    text-align: center;
    margin: -105px 0 29px;
    z-index: 3;
  }

  &__text {
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 12px;
    z-index: 3;
  }

  &__item {
    position: relative;
  }

  &__image {
    margin: 0 auto;
    width: 370px;
    height: 528px;
  }

  &__item-text {
    position: absolute;
    font-size: 25px;
    font-weight: 600;
    bottom: 100px;
    left: 50%;
    transform: translatex(-50%);
  }

  .slick-prev {
    position: absolute;
    top: 50%;
    left: -80px;
    transform: translateY(-70%);
    width: 27px;
    height: 48px;
    z-index: 4;
    padding: 0;
    font-size: 0;
    border: none;
    background-color: transparent;
    background-image: url('../images/icon/arrow-left.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    outline: transparent;

  }

  .slick-next {
    position: absolute;
    top: 50%;
    right: -80px;
    transform: translateY(-70%);
    width: 27px;
    height: 48px;
    z-index: 4;
    padding: 0;
    font-size: 0;
    border: none;
    background-color: transparent;
    background-image: url('../images/icon/arrow-right.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    outline: transparent;
  }

  .slick-dots {
    position: absolute;
    display: flex;
    left: 50%;
    transform: translateX(-50%);

    li {
      padding: 0 16px;

      button {
        position: relative;
        padding: 0;
        font-size: 0;
        background-color: transparent;
        border: 11px solid #C4C4C4;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        cursor: pointer;
        outline: transparent;
        transition: ease .3s;

        &::before {
          position: absolute;
          content: '';
          width: 14.5px;
          height: 14.5px;
          border-radius: 50%;
          background-color: white;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        &:hover,
        &:focus {
          border-color: #ffc62a;
        }
      }

      &.slick-active {
        button {
          border-color: #ffc62a;
        }
      }
    }
  }
}



@import 'media';