.development {
  position: relative;
  background-image: url('../images/development/development-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: -20px;
  z-index: 1;

  &::before,
  &::after {
    content: "";
    position: absolute;
  }

  &:after {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
    z-index: 2;
    box-shadow: inset 200px 50px 200px 0px rgb(0, 0, 0, 0.99);
  }

  &::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -17%);
    width: 100%;
    max-width: 100%;
    height: 219px;
    background-image: url('../images/development/development.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 3;
  }

  &__title,
  &__inner,
  &__box--top,
  &__box--bottom,
  &__text-map {
    position: relative;
  }

  &__title,
  &__inner {
    top: 40px;
    z-index: 3;
  }

  &__title,
  &__text-map {
    text-transform: uppercase;
  }

  &__title {
    text-align: center;
    margin-bottom: 60px;
  }

  &__inner,
  &__content,
  &__box--middle {
    display: flex;
  }

  &__content--adaptive {
    display: none;
  }

  &__inner,
  &__content:nth-child(2) {
    flex-direction: column;
  }

  &__content:first-child,
  &__box:last-child,
  &__box--middle {
    justify-content: space-evenly;
  }

  &__content:nth-child(2),
  &__content:nth-child(3),
  &__box--middle {
    justify-content: space-between;
  }

  &__content {
    &:first-child {
      margin-bottom: 60px;
    }

    &:nth-child(2) {
      margin-bottom: 75px;
    }
  }

  &__box {
    max-width: 255px;
  }

  &__box--top {
    &:first-child {
      left: 60px;
    }

    &:last-child {
      right: 31px;
      padding-top: 43px;
    }
  }

  &__box--middle {
    width: 100%;
    max-width: 1170px;

    &:first-child {
      margin-bottom: 83px;
    }
  }

  &__box--bottom {
    &:first-child {
      left: 46px;
    }

    &:nth-child(2) {
      right: 6px;
      max-width: 335px;
    }

    &:last-child {
      right: 16px;
    }
  }

  &__text {
    font-size: 16px;
    margin-bottom: 17px;
  }

  &__text-map {
    font-weight: 700;
    font-size: 20px;
    background: linear-gradient(180deg, #D2D8DE 10%, #FEFFFF 30%, #C0C3C6 50%, #B6BBBF 70%, #ACB2B7 90%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__text-map--middle {
    &:first-child {
      left: 89px;
    }

    &:nth-child(2) {
      left: 40px;
    }

    &:last-child {
      right: 5px;
    }
  }
}