<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MetaStorm</title>
  <link rel="stylesheet" href="css/index.min.css">
</head>

<body>

  {% include 'app/module/_header/_header.html' %}

  <main class="main">

    {% include 'app/module/_top/_top.html' %}

    {% include 'app/module/_benefits/_benefits.html' %}

    {% include 'app/module/_info/_info.html' %}

    {% include 'app/module/_top-slider/_top-slider.html' %}

    {% include 'app/module/_slider-bottom/_slider-bottom.html' %}

    {% include 'app/module/_features/_features.html' %}

    {% include 'app/module/_concept/_concept.html' %}

    {% include 'app/module/_token/_token.html' %}

    {% include 'app/module/_development/_development.html' %}

    {% include 'app/module/_team/_team.html' %}
    
    {% include 'app/module/_partners/_partners.html' %}

  </main>

  {% include 'app/module/_footer/_footer.html' %}

  <script src="js/main.min.js"></script>
</body>

</html>