.team-page {
  position: relative;
  background-image: url('../images/partners/partners-bg.jpg');
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 180px 0 172px;
  z-index: 1;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
    z-index: 2;
    box-shadow: inset 200px 50px 200px 0px rgb(0, 0, 0, 0.75);
  }

  &__title,
  &__inner,
  &__list,
  &__item,
  &__accent {
    position: relative;
  }

  &__title,
  &__inner {
    z-index: 3;
  }

  &__title {
    text-transform: uppercase;
    text-align: center;
    padding-left: 105px;
    margin-bottom: 90px;

    &::before {
      content: "";
      position: absolute;
      top: -15px;
      left: 50%;
      transform: translate(-140%, 0);
      width: 78px;
      height: 105px;
      background-image: url('../images/benefits/3.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__inner {
    &::after {
      content: "";
      position: absolute;
      right: -9px;
      bottom: 11px;
      width: 967px;
      height: 939px;
      background-image: url('../images/team-page/shot.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 4;
      pointer-events: none;
    }
  }

  &__list,
  &__item,
  &__box {
    display: flex;
  }

  &__list .team-page__box::after {
    border-radius: 15px 0 0 0;
  }

  &__list .team-page__link:nth-child(2) .team-page__box::after {
    border-radius: 0 15px 0 0;
  }

  &__list:last-child .team-page__box::after {
    border-radius: 0 0 0 15px;
  }

  &__list:last-child .team-page__link:nth-child(2) .team-page__box::after {
    border-radius: 0 0 15px 0;
  }

  &__list:nth-child(2) .team-page__link .team-page__item,
  &__list:nth-child(4) .team-page__link .team-page__item {
    flex-direction: row-reverse;
  }

  &__item:hover .team-page__name--left::after,
  &__item:hover .team-page__name--right::after {
    background-image: url('../images/icon/left-gradient.svg');
  }

  &__item:hover .team-page__box::after {
    opacity: 1;
  }

  &__item:hover .team-page__name--right::after {
    transform: rotate(180deg) translate(5%, 50%);
  }

  &__image,
  &__name,
  &__position,
  &__accent,
  &__name--left::after,
  &__name--right::after {
    z-index: 1;
  }

  &__image {
    max-width: 294px;
  }

  &__box {
    width: 294px;
    justify-content: center;
    padding-left: 65px;
    flex-direction: column;
    background: rgba(196, 196, 196, 0.18);

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-color: #FFF61B;
      background: linear-gradient(180deg, #5B2B30 0%, #A25B48 88.44%), rgba(196, 196, 196, 0.18);
      opacity: 0;
      transition: opacity 0.5s;
    }
  }

  &__box--top,
  &__item--top-right {
    border-radius: 0 15px 0 0;
  }

  &__box--bottom,
  &__item--bottom-right {
    border-radius: 0 0 15px 0;
  }

  &__image--top,
  &__item--top-left {
    border-radius: 15px 0 0 0;
  }

  &__image--bottom-left,
  &__item--bottom-left {
    border-radius: 0 0 0 15px;
  }

  &__name {
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 500;
    color: $default;
  }

  &__name--left,
  &__name--right {
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-95%, -50%);
      width: 14px;
      height: 28px;
      background-image: url('../images/icon/left.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.95;
      z-index: 1;
    }
  }

  &__name--right {
    &::after {
      transform: translate(-5%, -50%);
      background-image: url('../images/icon/right.svg');
    }
  }

  &__accent {
    top: 4px;
    left: 2px;
  }

  &__position {
    max-width: 183px;
    color: rgba(255, 255, 255, 0.41);
  }
}